@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --zero:0;
}

body {
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.container{
    position: fixed;
}

.left {
    width: 30vw;
    padding: 10px;
}

.right {
    width: 70vw;
    margin: 10px 0px;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    padding: 8px;
}

.home ul li:hover {
    text-decoration-line: underline;
}

.logo {
    padding: 0px 5px;
    column-gap: 3px;
}

.heading {
    display: flex;
    gap: 15px;
    padding: 8px;
    align-items: center;
    padding-top: 15px;
}

.heading img {
    width: 25px;
}

.heading h2 {
    font-size: 18px;
}

.footer div a span {
    color: #b3b3b3;
    font-weight: lighter;
    font-size: small;
    padding: 0px 6px;
}

.footer div a {
    text-decoration-line: none;
}

.footer {
    position: absolute;
    bottom: 15px;
}

.library {
    min-height: 74vh;
    position: relative;
    margin: 5px 0px;
}

.nav img {
    width: 18px;
}

.header {
    justify-content: space-between;
    background-color: #0f0f0f;
}

.header {
    padding: 20px;
}

.halalifyPlaylist {
    padding: 15px;
    background-color: #121212;
    height: auto;
}

.halalifyPlaylist h2:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.cards {
    width: 145px;
    padding: 10px;
    background-color: black;
    transition: all .5s;
}

.cards:hover{
    --zero:1;
    background-color: #252525;
    cursor: pointer;
}

.cards img {
    object-fit: contain;
    width: 100%;
}

.cards>* {
    padding-top: 0px;
}

.cardsContainer {
    gap: 10px;
    overflow-y: scroll;
    margin-top: 10px;
}

.play {
    border-radius: 23px;
    background-color: #1ed760;
    padding: 10px 10px 8px 10px;
    width: 25px;
    position: absolute;
    bottom: -100px;
    left: 37%;
    opacity: var(--zero);
    transition: all 1s ease-in-out;
}



.buttons>* {
    margin: 0px 10px;
}

.signupBtn {
    background-color: #121212;
    color: #959595;
    border: 1px;
    font-weight: bold;
    font-size: 16px;
    width: 109px;
    font-weight: bold;
    padding: 15px 11px;
    border-radius: 29px;
}

.signupBtn:hover {
    color: white;
}

.loginBtn {
    background-color: white;
    font-weight: bold;
    padding: 15px 11px;
    border-radius: 29px;
    width: 109px;
    border: 1px;
    font-size: medium;
}

.playbar {
    position: fixed;
    bottom: 4px;
    width: 65%;
    background-color: white;
    padding: 10px 0px;
    border-radius: 6px;
}

.songsBtn {
    column-gap: 15px;
}

.songList ul {
    padding: 10px 15px;
}

.songList ul li {
    list-style-type: decimal;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 1px solid ghostwhite;
    padding: 12px;
    margin: 10px 0px;
    font-size: smaller;
    cursor: pointer;
    border-radius: 6px;
}

.info {
    width: 150px;
}

.songList {
    overflow-y: scroll;
    max-height: 55vh;
    margin-bottom: 20px;
}

.nav {
    padding-top: 18px;
}

.header {
    position: sticky;
    top: 0px;
}

.seekBar {
    border: 1px solid black;
    height: 2px;
    background-color: black;
    width: 50%;
    margin: 10px auto -3px auto;
    position: relative;
}

.circle {
    border: 1px solid black;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom: -3px;
    left: -1px;
    transition: left 0.8s;
}

.aboveSeekBar {
    justify-content: space-between;
    padding: 0px 20px;
}

.songsInfo {
    color: black;
    width: 12vw;
}
.songsTime{
    color: black;
}
.hamburger {
    display: none;
}

.closed {
    display: none;
}
.volume{
    flex-direction: column;
}
.range > input{
    width: 80px;
}
.songsBtn > img {
    width: 15px;
}   

@media (max-width:1050px) {
    .left {
        background-color: red;
        position: absolute;
        left: -100%;
        transition: all 1s ease-in-out;
        z-index: 1;
        background-color: black;
        width: 300px;
    }

    .right {
        width: 100%;
    }

    .playbar {
        width: 93%;
        bottom: 1px;
        background-color: white;
    }

    .hamburger {
        display: block;
    }

    .nav {
        display: none;
    }

    .home {
        position: relative;
    }

    .closed {
        display: block;
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .cards {
        width: 40vw;
        margin: auto;
    }
    .aboveSeekBar *{
        font-size: medium;
    }
    .aboveSeekBar{
        flex-direction: column;
        row-gap: 6px;
    }
    .songsBtn > img {
        width: 10px;
    }
    .volume{
        flex-direction: row;
        column-gap: 10px;
    }
}

@media (max-width:450px) {
    .cards {
        width: 85vw;
        margin: auto;
    }
}