
.border{
    border: 1px solid red;
 
}

.wrap{
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}


.align-item{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: 1;
}

.bg-gray{
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 5px;
}

.p-1{
padding: 5px;
}

.p-2{
    padding: 5px 25px;
}

.cursor{
    cursor: pointer;
}