@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;700;900&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}



.left {
    width: 22.5vw;
    margin: 6px;
}


.home ul li {
    width: 20px;
    display: flex;
    list-style: none;
    gap: 10px;
    cursor: pointer;
    padding-top: 14px;
    font-weight: bold;
}

.logo {
    cursor: pointer;
}

.libaray {
    margin-top: 10px;
}

.heading {
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    padding: 15px 15px 20px 10px;
    font-size: 13px;
}

.heading img {
    width: 25px;
}

.libaray {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 20px 0px;
}

.footer a {
    color: gray;
    text-decoration: none;
}


.nav svg {
    width: 17px;

}

.header {
    justify-content: space-between;
    background-color: #101010;
    height: 72px;
}

.header>* {
    padding: 14px 40px;

}

.right {
    width: 77.5vw;
    margin: 10px 10px 10px 0px;
    position: relative;
}



.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist .cards {
    width: 170px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #181818;
}

.cards img {
    object-fit: contain;
    width: 100%;
    border-radius: 8px 8px 8px 8px;
}

.cards>* {
    padding-top: 5px;
}

.cards {
    position: relative;
    cursor: pointer;
}

.cardContainer {
    gap: 15px;
    margin: 10px 0px;
    overflow-y: scroll;
    height: auto;
}

.playButton {
    width: 44px;
    height: 40px;
    background-color: rgb(76, 228, 76);
    border-radius: 50%;
    align-items: flex-start;
    position: absolute;
    top: 133px;
    right: 20px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

/* 
.playButton:hover {
    opacity: 1;
    top: 133px;
} */


.playButton>p {
    font-size: 10px;
}

.cards>p {
    font-size: 14px;
    color: rgb(161, 159, 159);
}

/* For black scroll bar */
::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #181818;
}

::-webkit-scrollbar-track {
    background-color: #2e2e2e;
}

.buttons>* {
    padding: 0px 20px;
}


.nav {
    column-gap: 20px;
}

.signInBtn {
    color: gray;
    background-color: #101010;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 16px;
}



.signInBtn:hover {
    font-size: 17px;
    cursor: pointer;
    color: white;
}

.logInBtn {
    padding: 12px 1px;
    background-color: white;
    color: black;
    font-size: 16px;
    width: 99px;
    font-weight: bold;
    border-radius: 30px;
    border: 1px solid white;
}

.logInBtn:hover {
    width: 100px;
    font-size: 17px;
    cursor: pointer;

}

.playBar {
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 97.1%;
    padding: 10px 0px;
}

.songsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}


.songs ul {
    padding: 0px 15px;
    list-style: none;
}

.songs ul li {
    /* list-style-type: decimal; */
    display: flex;
    column-gap: 20px;
    cursor: pointer;
    padding: 10px 0px;
    justify-content: flex-start;
    align-items: center;
}

.songs ul li > *{
    font-size: 12px;
}