@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@media screen and (min-width: 1200px) {
    
}

:root{
    --opacity : 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.logo {
    column-gap: 10px;

}

.logo span {
    font-weight: bolder;
    font-size: larger;
}


.left {
    width: 25vw;
    margin: 0px 6px;
}


.home ul li {
    width: 20px;
    display: flex;
    list-style: none;
    gap: 10px;
    cursor: pointer;
    padding-top: 14px;
    font-weight: bold;
}

.logo {
    cursor: pointer;
}

.libaray {
    margin-top: 10px;
}

.heading {
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    padding: 15px 15px 20px 10px;
    font-size: 13px;
}

.heading img {
    width: 25px;
}

.libaray {
    min-height: 84vh;
    position: relative;
}

.footer {
    font-size: 13px;
    flex-wrap: wrap;
    gap: 13px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0px;
}

.footer a {
    color: gray;
    text-decoration: none;
}


.nav svg {
    width: 17px;

}

.header {
    justify-content: space-between;
    background-color: #101010;
    height: 72px;
    border-radius: 5px;
}

.header>* {
    padding: 14px 40px;

}

.right {
    width: 75vw;
    margin: 6px 6px 6px 0px;
    position: relative;
}

.hamburger {
    display: none;
}


.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist .cards {
    width: 170px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #181818;
    position: relative;
    transition: all .6s;

}

.cards:hover{
    cursor: pointer;
    background-color: #2e2e2e;
    --opacity: 1;
}

.cards img {
    object-fit: contain;
    width: 100%;
    border-radius: 8px 8px 8px 8px;
}

.cards>* {
    padding-top: 5px;
}

.cards {
    position: relative;
    cursor: pointer;
}

.cardContainer {
    gap: 15px;
    margin: 10px 0px;
    overflow-y: auto;
    height: auto;
}

.playButton {
    width: 44px;
    height: 40px;
    background-color: rgb(76, 228, 76);
    border-radius: 50%;
    align-items: flex-start;
    position: absolute;
    top: 133px;
    right: 20px;
    opacity: var(--opacity);
    transition: all .6s ease-in-out;
}

/* 
.playButton:hover {
    opacity: 1;
    top: 133px;
} */


.playButton>p {
    font-size: 10px;
}

.cards>p {
    font-size: 14px;
    color: rgb(161, 159, 159);
}

/* For black scroll bar */
::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #181818;
}

::-webkit-scrollbar-track {
    background-color: #2e2e2e;
}

.buttons>* {
    padding: 0px 20px;
}


.nav {
    column-gap: 20px;
}

.signInBtn {
    color: gray;
    background-color: #101010;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 16px;
}



.signInBtn:hover {
    font-size: 17px;
    cursor: pointer;
    color: white;
}

.logInBtn {
    padding: 12px 1px;
    background-color: white;
    color: black;
    font-size: 16px;
    width: 99px;
    font-weight: bold;
    border-radius: 30px;
    border: 1px solid white;
}

.logInBtn:hover {
    width: 100px;
    font-size: 17px;
    cursor: pointer;

}

.playBar {
    position: fixed;
    bottom: 0;
    /* margin-bottom: 10px; */
    /* background-color: #dbdbdb; */
    /* background-color: #999393; */
    background-color: white;
    width: 70%;
    /* height: 30px; */
    border-radius: 5px;
    padding: 20px 0px 0px 0px;
}

.songsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}


.songs ul {
    padding: 0px 0px 0px 8px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.songs ul li {
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0px;
    margin: 10px 0px;
    width: 21vw;
    border-radius: 5px;
    border: 1px solid white;
    justify-content: space-evenly;
    align-items: center;
}

.songs ul li>* {
    font-size: 12px;
}

.playNow {
    column-gap: 5px;
}

.info {
    flex-direction: column;
    width: 100px;
}

.songs {
    height: 50vh;
    overflow-y: scroll;
}

.seekbar {
    width: 96.70%;
    border-radius: 6px;
    height: 4.5px;
    background-color: #181818;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    margin: 5px 10px 0px 10px;
}

.circle {
    position: relative;
    bottom: 8.4px;
    left: 8px;
    width: 12.5px;
    height: 12.5px;
    border-radius: 15px;
    background-color: #181818;
    transition: left 1s;
}

.previousPlay,
.play,
.nextPlay {
    position: relative;
    bottom: 18px;
    cursor: pointer;

}

.previousPlay img,
.play img,
.nextPlay img {
    width: 23px;
}

.songInfo {

    width: 230px;
}

.songInfo,
.songTime {
    margin: 0px 17px;
    position: relative;
    bottom: 18px;
    font-weight: 500;

}

.flex-songInfo-and-songTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #101010;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (max-width: 549px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        width: 98vw;
        transition: ease-in-out 0.2s;
        z-index: 1;

    }

.libaray{
    min-height: 76.5vh;
}

    .songInfo {
        font-size: 15px;
    }

    .songInfo,
    .songTime {
        margin: 0px 10px;
        position: relative;
        bottom: 10px;
        font-size: medium;
        font-weight: 500;
    }

    .right {
        width: 100vw;
    }

    .playBar {
        width: calc(100vw - 35px);
    }

    .seekbar {
        /* width: 87vw; */
        width: calc(100vw - 60px);
    }

    .hamburger {
        cursor: pointer;
        display: block;
    }

    .left>#back-Btn {
        position: absolute;
        top: 14px;
        right: 20px;
        cursor: pointer;
    }

    .previousPlay,
    .play,
    .nextPlay {
        position: relative;
        bottom: 9px;
        cursor: pointer;

    }

    .right {
        margin: 0;
    }

    .previousPlay img,
    .play img,
    .nextPlay img {
        width: 20px;
    }

    .header>* {
        padding: 14px 10px;
    }

    .songs ul li {
        width: 70vw;
    }

    .spotifyPlaylist .cards {
        width: 90vw;
    }

    .cardContainer {
        justify-content: center;
        align-items: center;

    }

    .flex-songInfo-and-songTime {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        color: #101010;
        row-gap: 5px;
    }

    .circle {
        bottom: 1.4px;
    }

}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


@media screen and (min-width: 550px) and (max-width: 749px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        width: 38vw;
        transition: ease-in-out 0.2s;
        z-index: 1;

    }

    .songInfo {
        font-size: 15px;
    }

    .songInfo,
    .songTime {
        margin: 0px 10px;
        position: relative;
        bottom: 10px;
        font-size: medium;
        font-weight: 500;
    }

    .right {
        width: 100vw;
    }

    .playBar {
        width: 88vw;
    }

    .seekbar {

        width: 85vw;
    }

    .hamburger {
        cursor: pointer;
        display: block;
    }

    .left>#back-Btn {
        position: absolute;
        top: 14px;
        right: 20px;
        cursor: pointer;
    }

    .previousPlay,
    .play,
    .nextPlay {
        position: relative;
        bottom: 9px;
        cursor: pointer;

    }

    .right {
        margin: 0;
    }

    .previousPlay img,
    .play img,
    .nextPlay img {
        width: 20px;
    }

    .header>* {
        padding: 14px 10px;
    }

    .songs ul li {
        width: 30vw;
    }

    .spotifyPlaylist .cards {
        width: 40vw;
    }

    .cardContainer {
        justify-content: flex-start;
        align-items: center;

    }

    .circle {
        bottom: 2.4px;
    }

    .flex-songInfo-and-songTime {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* flex-direction: column; */
        color: #101010;
        /* row-gap: 2px; */
    }


}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (min-width: 750px) and (max-width: 1199px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        width: 38vw;
        transition: ease-in-out 0.2s;
        z-index: 1;

    }

    .songInfo {
        font-size: 15px;
    }

    .songInfo,
    .songTime {
        margin: 0px 10px;
        position: relative;
        bottom: 10px;
        font-size: large;
        font-weight: 500;
    }

    .right {
        width: 100vw;
    }

    .playBar {
        width: 94vw;
    }

    .seekbar {
        width: 91vw;
    }

    .hamburger {
        cursor: pointer;
        display: block;
    }

    .left>#back-Btn {
        position: absolute;
        top: 14px;
        right: 20px;
        cursor: pointer;
    }

    .previousPlay,
    .play,
    .nextPlay {
        position: relative;
        bottom: 9px;
        cursor: pointer;

    }

    .right {
        margin: 0;
    }

    .previousPlay img,
    .play img,
    .nextPlay img {
        width: 23px;
    }

    .header>* {
        padding: 14px 10px;
    }

    .songs ul li {
        width: 30vw;
    }

    .spotifyPlaylist .cards {
        width: 27.9vw;
    }

    .cardContainer {
        justify-content: flex-start;
        align-items: center;

    }

    .circle {
        bottom: 2.4px;
    }

    .flex-songInfo-and-songTime {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #101010;
    }

}

.volumne-time-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.volumne-time-flex div:last-child > img{

    position: relative;
    bottom: 15px;
    padding: 0px 10px 0px 0px;
}

.rangeVolume{
    flex-direction: row;
}

.rangeVolume div> input{
    cursor: pointer;
    width: 80px;
    position: relative;
    bottom: 13px;
    color: orange;
}
